
<div *ngIf="isLoading === false && firstLoad === false" class="container-fluid loadingSpinner">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
      </div>
</div>

<div *ngIf="filteredObjects.length > 0 && isLoading === false && firstLoad === true" class="container-fluid">

    <div *ngFor="let scannedDoc of filteredObjects">
        <mat-card>

            <div class="mat-card-content-container">
                <div class="content-titles">
                    <mat-card-header>
                        <mat-card-title>Scan Date: {{scannedDoc.date | firestoreDate | date:'dd MMMM yyyy'}}</mat-card-title>
                        <mat-card-title>Document ID: #{{ scannedDoc.docID}}</mat-card-title>
                        <mat-card-title>Template: {{scannedDoc.ocrTemplate}}</mat-card-title>
                    </mat-card-header>    
                    <mat-card-actions>
                        <button mat-button color="primary" (click)="toggleScannedDoc(scannedDoc.docID)">View Document Information</button>
                        <button mat-button color="primary" (click)="downloadObjectAsJson(scannedDoc, scannedDoc.docID)">Json Download</button>
                        <a [href]="scannedDoc.url" target="_blank"><button mat-button color="primary">Document URL</button></a>
                    </mat-card-actions>
                </div>
        
                <div class="content-image">
                    <img mat-card-image [src]="scannedDoc.url" [alt]="scannedDoc.url">
                </div>
            </div>
            
        </mat-card>
        
        <mat-card [id]="scannedDoc.docID" class="d-none">
            <div class="receipt-content">
                <div class="container bootstrap snippets bootdey">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="invoice-wrapper">
                                <div class="intro">
                                    <h5>Scanned Document Information</h5>

                                    <p *ngFor="let documentInfo of scannedDoc.documentInformation | keyvalue">
                                        {{documentInfo.key | niceLookingKey | titlecase }}
                                        <strong>
                                            {{documentInfo.value}}
                                        </strong>
                                    </p>
                                    
                                </div>
            
                                <div class="payment-info">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <strong>Payment Information</strong>

                                            <p *ngFor="let paymentInfo of scannedDoc.paymentInformation | keyvalue">
                                                <span>{{paymentInfo.key | niceLookingKey | titlecase}}</span>
                                                {{paymentInfo.value}}
                                            </p>

                                        </div>

                                    </div>
                                </div>
            
                                <div class="payment-details">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <strong>Customer Information</strong>
                                            <p *ngFor="let customerInfo of scannedDoc.customerInformation | keyvalue">
                                                <span>{{customerInfo.key | niceLookingKey | titlecase}}</span>
                                                {{customerInfo.value}}
                                            </p>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <strong>Merchant Information</strong>

                                            <p *ngFor="let merchantInfo of scannedDoc.merchantInformation | keyvalue">
                                                <span>{{merchantInfo.key | niceLookingKey | titlecase}}</span>
                                                {{merchantInfo.value}}
                                            </p>

                                        </div>
                                    </div>
                                </div>
            
                                <div class="line-items">
                                    <div class="headers clearfix">
                                        <div class="row">
                                            <div class="col-sm-4">Description</div>
                                            <div class="col-sm-4 text-center">Quantity</div>
                                            <div class="col-sm-4 text-right">Amount</div>
                                        </div>
                                    </div>
                                    <div class="items" *ngFor="let items of scannedDoc.customFields.lines[0].lineitems">
                                        <div class="row item">
                                            <div class="col-sm-4 desc">
                                                {{items.title}}
                                            </div>
                                            <div class="col-sm-4 qty text-center">
                                                {{items.quantity}}
                                            </div>
                                            <div class="col-sm-4 amount text-right">
                                                {{items.amount | twoDecimalSumStr | number: '1.2-2'}} {{scannedDoc.amountInformation.currency}}
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="total text-right">
                                        <p class="extra-notes">
                                            <strong>Raw Text Found</strong>
                                            {{scannedDoc.customFields.raw_text}}
                                        </p>

                                        <div class="field">
                                            Currency: 
                                            <span>{{scannedDoc.amountInformation.currency}}</span>
                                        </div>

                                        <div class="field">
                                            Amount: 
                                            <span>{{scannedDoc.amountInformation.amount | twoDecimalSumStr | number: '1.2-2'}} {{scannedDoc.amountInformation.currency}}</span>
                                        </div>

                                        <div class="field">
                                            VAT Amount: 
                                            <span>{{scannedDoc.amountInformation.vatamount | twoDecimalSumStr | number: '1.2-2'}} {{scannedDoc.amountInformation.currency}}</span>
                                        </div>

                                        <div class="field">
                                            Amount Change: 
                                            <span>{{scannedDoc.amountInformation.amount_change | twoDecimalSumStr | number: '1.2-2'}} {{scannedDoc.amountInformation.currency}}</span>
                                        </div>

                                        <div class="field">
                                            Total: 
                                            <span>{{scannedDoc.amountInformation.amountexvat | twoDecimalSumStr | number: '1.2-2'}} {{scannedDoc.amountInformation.currency}}</span>
                                        </div>

                                    </div>
            
                                </div>
                            </div>
            
                            <div class="footer">
                                <!-- Copyright © 2014. company name -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        </mat-card>
    </div>
    
</div>

<div *ngIf="filteredObjects.length === 0 && isLoading === false && firstLoad === true" class="container-fluid img-container">
    <img src="assets/missingFiles.svg" alt="no files found"/>

</div>
