#side-nav-container {
    height: 100%;
    width: 100%;
    border: 1px solid #E6ECF5;

    .logo {
        text-align: center;
        padding: 20px;
        border-bottom: 1px solid #E6ECF5;
    }

    .sidebar-btn {
        padding: 20px;
    }
}
