.error-page-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ADF7B6;
    img {
        height: 60%;
        width: 60%;
    }
}