<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-7 d-flex flex-row align-items-center justify-content-center" style="background-color: #a3d2ca;">
            <div class="image-container">
                <img class="login-image" src="assets/loginScreen.svg" alt="Login Image"/>
            </div>
        </div>
        <div class="col-5 d-flex flex-column align-items-center justify-content-center" style="background-color: #f8f1f1;">
            <app-login-form></app-login-form>
        </div>
    </div>

</div>
