<div class="row" id="top-nav-container">

    <div class="col user-info-container" *ngIf="ngAuthService.userState as user">
        <div class="dropdown show avatar-container">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img 
                class="align-self-start img-thumbnail rounded-circle"
                src="{{(user.photoURL) ? user.photoURL : '/assets/dummy-avatar.png'}}" 
                alt="{{user.displayName}}"
                />
            </a>
            
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item btn" (click)="ngAuthService.SignOut()">
                    Sign Out
                </a>
            </div>
        </div>

            
        <div class="user-information">
            <p>User: <strong>{{user.email}}</strong></p>
        </div>
    </div>

</div>
