
<div id="dashboard-container" class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-2">
            <!-- this is the side nav -->
            <app-side-nav></app-side-nav>
        </div>
        <div class="col-10">
            <!-- this contains the main nav and the main information container -->
        
            <!-- this is the top nav bar -->
            <div class="row">
                <app-top-nav></app-top-nav>
            </div>
        
            <!-- this is the main information container -->
            <div class="row">
                this is the main info container
            </div>
        </div>
    </div>
</div>
