
<div id="dashboard-container" class="container-fluid vh-100">
    <div class="row">
        <app-top-nav class="w-100"></app-top-nav>
    </div>
    <div class="row">
        <div id="side-nav-container">
            <!-- //to make it work with ngClass.xs -->
            <!-- //class w-100 rendered the 1st time also works -->
            <app-side-nav></app-side-nav>
        </div>
        <div id="main-information-container" class="col">
            
            <div id="info-container">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
