
.forgot-pass-container{
    h4{
        padding-bottom: 20px;
        font-weight: bold;
    }
    background-color: #ADF7B6;
    .displayTableCell {
        text-align: center;
        width: 260px;
        // width: 100%;
        height: auto;
    
        .formGroup{
            margin-top: 5px;
            margin-bottom: 10px;
        }
    
        .errors {
            padding-top: 10px;
            color: #dc3545;
            font-size: 80%;
        }

        .successful{
            padding-top: 10px;
            font-size: 80%;
        }
    }
}
