
<div class="forgot-pass-container vh-100 w-100 d-flex justify-content-center align-items-center">
  <div class="displayTableCell">

    <div class="authBlock">
      <h4>Forgot Password</h4>

      <div class="formGroup">
        <input 
          type="email" 
          name="passwordResetEmail"
          class="form-control" 
          placeholder="Email Address"
          [(ngModel)]="passResetForm.passwordResetEmail"
          #passwordResetEmail="ngModel"
          [ngClass]="{ 'is-invalid': passwordResetEmail.touched && passwordResetEmail.invalid}"
          email
          required
        >

        <div class="invalid-feedback" *ngIf="passwordResetEmail.touched && passwordResetEmail.invalid">
          <div *ngIf="passwordResetEmail.errors.required">Username is required.</div>
          <div *ngIf="passwordResetEmail.errors.email">Must be a valid email address.</div>
        </div>
      </div>

      <div class="formGroup">
        <input type="submit" class="btn btn-dark-green btn-block" value="Reset Password"
          (click)="submit(passwordResetEmail.value)">
      </div>
      <div class="errors" *ngIf="error === true && errorMessage != ''">
        <div>{{errorMessage}}</div>
      </div>
      
      <div class="successful" *ngIf="requestSuccessful === true">
        <div>Password reset email sent, check your inbox.</div>
      </div>
      
    </div>

  </div>
</div>