.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button{
  margin: 5px;
}

.urlFieldContainer{
  display: flex;
  flex-direction: column;
}


.mat-stepper-vertical {
  margin-top: 0;
}

.container-fluid {
  padding: 25px;
}

mat-error{
  padding-top:5px;
  padding-bottom: 15px;
}

button:focus,
button:active{
  outline: none;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #0d6340; 
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #00af91; 
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color:  #00af91; 
}

.green {
  color: #0d6340;
}

.file-or-folder-upload-method-container {
  padding:10px 0 10px 0;
}
.file-uploaded-feedback-container {
  padding-top: 10px;
  
  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}

.loadingSpinner{
  display: flex;
  align-items: center;
  justify-content: center;
}
.successful-responses-container{
  color: #0d6340;
}
.errors-container,
.successful-responses-container {

  ul,
  p{
    margin-bottom: 5px;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}


