.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button{
  margin: 5px;
}

.urlFieldContainer{
  display: flex;
  flex-direction: column;
}