
<div class="area">

</div>
<nav class="main-menu">
    <ul>
        <li>
            <a routerLink="scan-documents">
                <i class="fa fa-barcode fa-2x"></i>
                <span class="nav-text">
                    Scan Documents
                </span>
            </a>
          
        </li>
        <li class="has-subnav">
            <a routerLink="my-documents">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    My Documents
                </span>
            </a>
            
        </li>

    </ul>

</nav>