
.dashboard-page-missing-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    img {
      height: auto;
      width: 60%;
    }
}