
/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    overflow: hidden;
    height: 100%;
}

.row,
.col,
.col-2,
.col-10,
.col-12 {
    margin: 0;
    padding: 0;
}

.hideContent {
    display: none;
}
.btn-green-text {
    color: #0d6340;
}

.btn-light-green {
    background-color: #00af91;
    color: white;
}

.btn-dark-green {
    background-color: #007965;
    color: white;
}

@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

