
/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-button-color {
    background-color: #db6400;
}

.colors{
    background-color: #f8f1f1;
    background-color: #a3d2ca;
    background-color: #5eaaa8;
    background-color: #db6400;
}
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
